---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>{{ site.tagline }}</description>
    <language>en-gb</language>
    {% set latestForBuildDate = collections.posts | reverse | first %}
    {% if latestForBuildDate %}<lastBuildDate>{{ latestForBuildDate.date | rssDate }}</lastBuildDate>{% endif %}
    {% for post in collections.posts | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      {% if post.data.summary %}<description>{{ post.data.summary }}</description>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
