<footer class="site">
  <div class="foot">
    <span>&copy; {{ site.year }} {{ site.author }} &middot; {{ site.title }}</span>
    <span><a href="https://nimbletech.uk">Nimble Tech</a> &middot; <a href="https://www.linkedin.com/in/smercette/">LinkedIn</a> &middot; <a href="https://www.instagram.com/smercette/">Instagram</a></span>
  </div>
</footer>
