{% set nav = pageNav or page.url %}
<header class="site">
  <div class="bar">
    <div class="brand-wrap">
      <a class="brand" href="/">
        <span class="mark"><i></i><i></i><i></i></span>
        <span class="brand-name">We Can Build</span>
      </a>
      <span class="brand-by">by Sarah J Mercer, founder of <a href="https://nimbletech.uk">Nimble Tech</a></span>
    </div>
    <nav>
      <a class="lnk {% if nav == '/' %}active{% endif %}" href="/">Home</a>
      <a class="lnk {% if '/tutorials' in nav %}active{% endif %}" href="/tutorials/">Tutorials</a>
      <a class="lnk {% if '/about' in nav %}active{% endif %}" href="/about/">About</a>
      <a class="btn" href="/#signup">Get the tutorials</a>
    </nav>
  </div>
</header>
